.dcr-visit-card {
    width: 100%;
    max-width: 280px;
    border: 1px solid var(--dcr-color-border);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}

.dcr-visit-card-image img {
    width: 260px;
}

.dcr-visit-card-description {
    margin: 10px 0;
    color: var(--dcr-color-font-tertiary);
    font-size: 16px;
    font-weight: 700;
}

@media (min-width: 768px) {
    .dcr-visit-card {
        width: 100%;
        max-width: 746px;
    }

    .dcr-visit-card-image img {
        width: 390px;
    }

    .dcr-visit-card-description {
        font-size: 20px;
        font-weight: 700;
    }
}