header {
    background-color: var(--dcr-color-bg-primary);
    height: 70px;
    display: flex;
    align-items: center;
}

header h1 {
    color: var(--dcr-color-font-primary);
    font-size: 20px;
    text-align: center;
}

@media (min-width: 768px) {
    header h1 {
        font-size: 24px;
    }
}