@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
	--dcr-color-bg-primary: #3C9AF0;
	--dcr-color-bg-secondary: #FFF;
	--dcr-color-bg-tertiary: #D9D9D9;
	--dcr-color-bg-quaternary: #C8C8C8;

	--dcr-color-font-primary: #FFF ;
	--dcr-color-font-secondary: #3C9AF0;
    --dcr-color-font-tertiary: #5E5E5E;

	--dcr-color-border: #3C9AF0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

a, a:hover {
    text-decoration: none;
    color: unset;
}

html, body {
    background-color: var(--ct-color-bg-primary);
}

.dcr-container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

